In [2]:
import polars as pl

In [10]:
(
    pl
    .read_parquet('./data/naics_relations.parquet')
    .select('relation_id', 'relation')
    .unique()
    .sort('relation_id')
)

shape: (15, 2)
┌─────────────┬───────────────────────────────┐
│ relation_id ┆ relation                      │
│ ---         ┆ ---                           │
│ i8          ┆ str                           │
╞═════════════╪═══════════════════════════════╡
│ 1           ┆ child                         │
│ 2           ┆ sibling                       │
│ 3           ┆ grandchild                    │
│ 4           ┆ great-grandchild              │
│ 5           ┆ nephew/niece                  │
│ …           ┆ …                             │
│ 11          ┆ second_cousin                 │
│ 12          ┆ cousin_2_times_removed        │
│ 13          ┆ second_cousin_1_times_removed │
│ 14          ┆ third_cousin                  │
│ 15          ┆ unrelated                     │
└─────────────┴───────────────────────────────┘

In [12]:
(
    pl
    .read_parquet('./data/naics_distances.parquet')
    .select('distance')
    .unique()
    .sort('distance')
)

shape: (12, 1)
┌──────────┐
│ distance │
│ ---      │
│ f32      │
╞══════════╡
│ 0.5      │
│ 1.5      │
│ 2.0      │
│ 2.5      │
│ 3.0      │
│ …        │
│ 5.0      │
│ 6.0      │
│ 7.0      │
│ 8.0      │
│ 9.0      │
└──────────┘